.left_border {
  border-left: 2px solid black;
}
.initial_active {
  background: grey;
  color: white !important;
}
.button_style {
  color: white;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  width: 100%;
}
/* line break */
#needLineBreak:before {
  content: "|" !important;
  white-space: pre !important;
  position: absolute;
}

/* wheel rotate */
#car.rotate90 #wheel1,
#car.rotate90 #wheel2 {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}
#car.rotate90 #wheel1,
#car.rotate90 #wheel2 {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
#car.rotate90 #wheel1,
#car.rotate90 #wheel2 {
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
}
